<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <script defer src="js/vue.global.prod.js"></script>
  <!-- type="module" をつけないと、中で import が使えない -->
  <script defer type="module" src="js/index.js"></script>
</head>

<body>
  <div id="header">
    <header-comp :headertitle="title" :menu1="menu1" :menu2="menu2" :menu3="menu3" @response="(msg) => childMsg = msg"></header-comp>
    <p>{{ childMsg }}</p>
  </div>
  <main>
    <div id="app">
      <h1 :class="titleClass">{{ title }}</h1>
      <div class="contents">
        <div class="input-field">
          <input type="text" v-model="text">
          <label>input here</label>
        </div>
        <p>{{ text }}</p>
        <p v-if="text">入力されたら表示される</p>
        <p v-else>テキストボックスに文字を入力してください</p>
      </div>
      <div class="contents">
        <button type="button" @click="increment" class="waves-effect waves-light btn">click</button>
        <p>Count is: {{ counter.count }}</p>
      </div>
      <div class="contents">
        <form @submit.prevent="addTodo">
          <div class="input-field">
            <input type="text" v-model="newTodo">
            <label>todo</label>
          </div>
          <button type="submit" class="waves-effect waves-light btn">Add Todo</button>
        </form>
        <ul>
          <li v-for="todo in filteredTodos" :key="todo.id">
            <label>
              <input type="checkbox" v-model="todo.done">
              <span :class="{ done: todo.done }">{{ todo.id }}: {{ todo.text }} {{ todo.done }}</span>
            </label>
            &nbsp;<button @click="removeTodo(todo)" class="waves-effect waves-light btn-floating btn-small">X</button>
          </li>
        </ul>
        <button @click="hideCompleted = !hideCompleted" class="waves-effect waves-light btn">
          {{ hideCompleted ? 'Show all' : 'Hide computed' }}
        </button>
      </div>
      <div class="contents">
        <p ref="pElementRef">hello</p>
      </div>
      <div class="contents">
        <p>Todo id: {{ todoId }}</p>
        <button @click="todoId++" class="waves-effect waves-light btn">Fetch next todo</button>
        <p v-if="!todoData">Loading...</p>
        <pre v-else>{{ todoData }}</pre>
      </div>
    </div>
    <div id="app2">
      <div class="contents">
        <div class="input-field">
          <input type="text" v-model="todoId">
          <label>todoId</label>
        </div>
        <child-comp :todos="todos"></child-comp>
      </div>
    </div>
  </main>
  <div id="footer">
    <footer-comp></footer-comp>
  </div>
</body>

</html>
